<!DOCTYPE html>
<html>

<head>
  <body>
    <h1>
      - “The capital of Sweden is Stockholm” <br>
      - “The capital of South Africa is Pretoria” <br>
      - “The capital of Poland is Warsaw” <br>
    </h1>
  </body>
</html>
